*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color:#F7EADE;
   
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}
/* nav start */
.body-color{
    background-color:#F7EADE;
}
.nav-navigation-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navber-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link{
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.padding-item{
    padding: 50px 40px;
}
.navber-navigation img{
    margin-right: 130px;
}
.dropdown-menu{
    margin-top: 20px;
}
.dropdown-item{
    color: black;
    font-size: 20px;
    font-weight: 600
}
.dropdown-item1{
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.dropdown-menu{
    text-align: center;
    position: absolute;
    top: 60px;
    right: 500px;
}
.dropdown-menu1{
    position: absolute;
    top: 80px;
    right: 300px;
    text-align: center;
}
.pad-posi{
    padding:10px;
}
.social-media{
    padding-left: 150px;
}
.heart{
    padding: 0px 20px;
    font-size: 18px;
}
/* .heart::after{
    content: "0";
    font-size: 10px;
    position: absolute;
    top: 44px;
    right: 279px;
    padding: 5px;
    border-radius: 50%;
    background-color: palevioletred;
} */
.scarch{
    font-size: 18px;
}
.shop{
    font-size: 18px;
}
/* .shop::after{
    content: "0";
    font-size: 10px;
    position: absolute;
    top: 44px;
    right: 235px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(216, 112, 147);
} */
.hamberger{
    display: none !important;
}
/* section 1 starts */
.about-sec h2{
    text-align: center;
    font-size: 60px;
    color: rgb(60, 51, 41);
    padding-top: 100px;
    padding-bottom: 170px;

}
.section1{
    background-color: #f2e1d2;
}
/* section 1 ends */
.section2{
    background-color:rgb(246, 246, 246);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content:center;
}
.form-main h2{
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding-bottom: 15px;
}
.field-set{
    height: 290px;
    width: 500px;
    border: 1px solid gray;
    margin-bottom: 50px;
    
}
.lablefor{
    font-size: 25px;
    color: gray;
}
.form-padding{
    padding: 30px;
}
.form-padding1{
    padding-left: 30px;
}
.con-in{
    width: 450px;
    height: 40px;
    border:0.5px solid gray;
    background-color:white;
}
.login{
    height: 40px;
    width: 80px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(200, 196, 196);
    color: rgb(36, 32, 32);
    border: none;
    margin-left: 30px;
}
/*  */
.product-categories{
    height: 220px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    text-shadow: #F7EADE;
    margin-left: 50px;
}
.product-categories h3{
    font-size: 25px;
    color: gray;
    padding-left: 10px;
    padding-top: 15px;
}
.product-categories p{
    font-size: 20px;
    color: black;
    padding-top: 10px;
    font-weight: 700;
    padding-left: 10px;
}
.product-categories p:hover{
   color: gold;
}
.product-categories hr{
    width: 50px;
    margin-top: 20px;  
    margin-left: 10px;  
}
/*  */
/* footer starts */
.footer{
    background-color: #5f3c10;
}
.footer-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-color{
    color: #fcfcfc;
}
.footer-div{
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-div2 h3{
    color: #fcfcfc;
    padding-top: 40px;
    font-size: 30px;
    padding-bottom: 15px;
}
.fot{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.fot p{
    color: #fcfcfc;
}
.than{
    color: #fcfcfc;
}
.footer-div span{
    display: block;
}
.footer-div h3{
    color: #fcfcfc;
    padding-bottom: 20px;
    font-size: 30px;
}
.footer-div1 h3{
    color: #fcfcfc;
    /* padding-bottom: 20px; */
    font-size: 30px;
}
.footer-div3 h3{
    color: #fcfcfc;
    /* padding-bottom: 20px; */
    font-size: 30px;
}
.footer-div p{
    color: #fcfcfc;
    font-size: 17px;
}
/* footer ends */

@media(max-width:575px){
    .container{
        max-width: 100%;
        margin: 0 auto;
    }
    .body-color{
        background-color:#F7EADE;
    }
    .nav-navigation-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        height: 80vh;
        width: 100%;
        position: absolute;
        left: -100%;
        top: -50px;
        transition: 500ms;
        background-color: #F7EADE;
        padding-top: 80px;
    }
    .menu{
        left: 0%;
        transition: 500ms;
    }
    .navber-navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
    }
    .nav-link{
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    .padding-item{
        padding: 30px 40px;
    }
    .navber-navigation img{
        margin-right: 0px;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 50px;
        width: 120px;
        z-index: 2;

    }
    .dropdown-menu{
        margin-top: 20px;
    }
    .dropdown-item{
        color: black;
        font-size: 18px;
        font-weight: 600
    }
    .dropdown-co{
        padding-top:0px;        
    }
    .dropdown-item1{
        color: black;
        font-size: 20px;
        font-weight: 600;
    }
     .dropdown-menu{
        text-align: center;
        position: absolute;
        top: 325px;
        right: 50px;
    } 
     .dropdown-menu1{
         position: absolute;
        top: 450px;
        right: 63px;
    }
    .pad-posi{
        padding:0px;
    }
    .social-media{
        padding-left: 0px;
        position: absolute;
        top: 40px;
        right: 50px;
        
    }
    .down2{
        display: none !important;
    }
    .down1{
        display: none !important;
    }
    .heart{
        padding: 0px 20px;
        font-size: 18px;
    }
    .heart::after{
        content: "0";
        font-size: 10px;
        position: absolute;
        top: -5px;
        right: 34px;
        padding: 5px;
        border-radius: 50%;
        background-color: palevioletred;
    }
    .scarch{
        font-size: 18px;
    }
    .down2{
        display: none;
    }
    
    .shop{
        font-size: 18px;
    }
    .shop::after{
        content: "0";
        font-size: 10px;
        position: absolute;
        top: -7px;
        right: -7px;
        padding: 5px;
        border-radius: 50%;
        background-color: palevioletred;
    }
    .hamberger{
        display: block !important;
        position: absolute;
        top: 40px;
        right: 10px;
    }
}
@media(min-width:576px) and (max-width:767.98px){
    .container{
        max-width: 100%;
        margin: 0 auto;
    }
    .body-color{
        background-color:#F7EADE;
    }
    .nav-navigation-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        height: 60vh;
        width: 100%;
        position: absolute;
        left: -100%;
        top: -30px;
        transition: 500ms;
        background-color: #F7EADE;
    }
    .menu{
        left: 0%;
        transition: 500ms;
    }
    .navber-navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
    }
    .nav-link{
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    .padding-item{
        padding: 50px 40px;
    }
    .navber-navigation img{
        margin-right: 0px;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 50px;
        width: 120px;
        z-index: 2;

    }
    .dropdown-menu{
        margin-top: 20px;
    }
    .dropdown-item{
        color: black;
        font-size: 18px;
        font-weight: 600
    }
    .dropdown-co{
        padding-top: 0px;
    }
    .dropdown-item1{
        color: black;
        font-size: 20px;
        font-weight: 600;
    }
     .dropdown-menu{
        text-align: center;
        position: absolute;
        top: 325px;
        right: 150px;
    } 
     .dropdown-menu1{
         position: absolute;
        top: 450px;
        right: 165px;
    }
    .pad-posi{
        padding:0px;
    }
    .social-media{
        padding-left: 0px;
        position: absolute;
        top: 40px;
        right: 50px;
        
    }
    .down2{
        display: none !important;
    }
    .down1{
        display: none !important;
    }
    .heart{
        padding: 0px 20px;
        font-size: 18px;
    }
    .heart::after{
        content: "0";
        font-size: 10px;
        position: absolute;
        top: -5px;
        right: 34px;
        padding: 5px;
        border-radius: 50%;
        background-color: palevioletred;
    }
    .scarch{
        font-size: 18px;
    }
    .down2{
        display: none;
    }
    
    .shop{
        font-size: 18px;
    }
    .shop::after{
        content: "0";
        font-size: 10px;
        position: absolute;
        top: -7px;
        right: -7px;
        padding: 5px;
        border-radius: 50%;
        background-color: palevioletred;
    }
    .hamberger{
        display: block !important;
        position: absolute;
        top: 40px;
        right: 10px;
    }
}
@media(min-width:768px) and (max-width:991.98px){
    .container{
        max-width: 100%;
        margin: 0 auto;
    }
    .body-color{
        background-color:#F7EADE;
    }
    .nav-navigation-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
        height: 60vh;
        width: 100%;
        position: absolute;
        left: -100%;
        top: -60px;
        transition: 500ms;
        background-color: #F7EADE;
    }
    .menu{
        left: 0%;
        transition: 500ms;
    }
    .navber-navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 100px;
    }
    .nav-link{
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    .padding-item{
        padding: 50px 40px;
    }
    .navber-navigation img{
        margin-right: 0px;
        position: absolute;
        top: 20px;
        left: 20px;
        height: 50px;
        width: 120px;
        z-index: 2;

    }
    .dropdown-menu{
        margin-top: 20px;
    }
    .dropdown-item{
        color: black;
        font-size: 18px;
        font-weight: 600
    }
    .dropdown-co{
        padding-top: 0px;
    }
    .dropdown-item1{
        color: black;
        font-size: 20px;
        font-weight: 600;
    }
     .dropdown-menu{
        text-align: center;
        position: absolute;
        top: 325px;
        right: 240px;
    } 
     .dropdown-menu1{
         position: absolute;
        top: 450px;
        right: 255px;
    }
    .pad-posi{
        padding:0px;
    }
    .social-media{
        padding-left: 0px;
        position: absolute;
        top: 40px;
        right: 50px;
        
    }
    .down2{
        display: none !important;
    }
    .down1{
        display: none !important;
    }
    .heart{
        padding: 0px 20px;
        font-size: 18px;
    }
    .heart::after{
        content: "0";
        font-size: 10px;
        position: absolute;
        top: -5px;
        right: 34px;
        padding: 5px;
        border-radius: 50%;
        background-color: palevioletred;
    }
    .scarch{
        font-size: 18px;
    }
    .down2{
        display: none;
    }
    
    .shop{
        font-size: 18px;
    }
    .shop::after{
        content: "0";
        font-size: 10px;
        position: absolute;
        top: -7px;
        right: -7px;
        padding: 5px;
        border-radius: 50%;
        background-color: palevioletred;
    }
    .hamberger{
        display: block !important;
        position: absolute;
        top: 40px;
        right: 10px;
    }
}
@media(min-width:992px) and (max-width:1199.98px){
    .body-color{
        background-color:#F7EADE;
    }
    .nav-navigation-item{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navber-navigation{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-link{
        color: black;
        font-size: 20px;
        font-weight: bold;
    }
    .padding-item{
        padding: 50px 40px;
    }
    .navber-navigation img{
        margin-right: 80px;
    }
    .dropdown-menu{
        margin-top: 20px;
    }
    .dropdown-item{
        color: black;
        font-size: 20px;
        font-weight: 600
    }
    .dropdown-item1{
        color: black;
        font-size: 20px;
        font-weight: 600;
    }
    .dropdown-menu{
        text-align: center;
        position: absolute;
        top: 60px;
        right: 500px;
    }
    .dropdown-menu1{
        position: absolute;
        top: 80px;
        right: 300px;
        text-align: center;
    }
    .pad-posi{
        padding:10px;
    }
    .social-media{
        padding-left: 100px;
    }
    .heart{
        padding: 0px 20px;
        font-size: 18px;
    }
    /* .heart::after{
        content: "0";
        font-size: 10px;
        position: absolute;
        top: 44px;
        right: 279px;
        padding: 5px;
        border-radius: 50%;
        background-color: palevioletred;
    } */
    .scarch{
        font-size: 18px;
    }
    .shop{
        font-size: 18px;
    }
    /* .shop::after{
        content: "0";
        font-size: 10px;
        position: absolute;
        top: 44px;
        right: 235px;
        padding: 5px;
        border-radius: 50%;
        background-color: palevioletred;
    } */
    .hamberger{
        display: none !important;
    }
}
@media(max-width:575.98px){
    .section2{
        background-color:rgb(246, 246, 246);
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
    .form-main h2{
        font-size: 30px;
        color: black;
        font-weight: bold;
        padding-bottom: 15px;
        text-align: center;
    }
    .field-set{
        height: 290px;
        width: 300px;
        border: 1px solid gray;
        margin-bottom: 50px;
        margin:0 auto;
        
    }
    .lablefor{
        font-size: 25px;
        color: gray;
    }
    .form-padding{
        padding: 30px;
    }
    .form-padding1{
        padding-left: 30px;
    }
    .con-in{
        width: 200px;
        height: 40px;
        border:0.5px solid gray;
        background-color:white;
    }
    .login{
        height: 40px;
        width: 80px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
        background-color: rgb(200, 196, 196);
        color: rgb(36, 32, 32);
        border: none;
        margin-left: 30px;
    }
    /*  */
    .product-categories{
        height: 220px;
        width: 250px;
        background-color: white;
        border-radius: 10px;
        text-shadow: #F7EADE;
        margin: 0 auto;
        margin-top: 50px;
    }
    .product-categories h3{
        font-size: 25px;
        color: gray;
        padding-left: 10px;
        padding-top: 15px;
    }
    .product-categories p{
        font-size: 20px;
        color: black;
        padding-top: 10px;
        font-weight: 700;
        padding-left: 10px;
    }
    .product-categories p:hover{
       color: gold;
    }
    .product-categories hr{
        width: 50px;
        margin-top: 20px;  
        margin-left: 10px;  
    }
}
@media(min-width:576px) and (max-width:767.98px){
    .section2{
        background-color:rgb(246, 246, 246);
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
    .form-main h2{
        font-size: 40px;
        color: black;
        font-weight: bold;
        padding-bottom: 15px;
        text-align: center;
    }
    .field-set{
        height: 250px;
        width: 450px;
        border: 1px solid gray;
        margin-bottom: 50px;
        margin:0 auto;
        
    }
    .lablefor{
        font-size: 25px;
        color: gray;
    }
    .form-padding{
        padding-left: 30px;
    }
    .form-padding1{
        padding-left: 30px;
    }
    .con-in{
        width: 200px;
        height: 40px;
        border:0.5px solid gray;
        background-color:white;
    }
    .login{
        height: 40px;
        width: 80px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
        background-color: rgb(200, 196, 196);
        color: rgb(36, 32, 32);
        border: none;
        margin-left: 30px;
    }
    /*  */
    .product-categories{
        height: 250px;
        width: 400px;
        background-color: white;
        border-radius: 10px;
        text-shadow: #F7EADE;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
    .product-categories h3{
        font-size: 25px;
        color: gray;
        padding-left: 10px;
        padding-top: 15px;
    }
    .product-categories p{
        font-size: 20px;
        color: black;
        padding-top: 20px;
        font-weight: 700;
        padding-left: 10px;
    }
    .product-categories p:hover{
       color: gold;
    }
    .product-categories hr{
        width: 50px;
        margin-top: 20px;  
        margin-left: 180px;  
    }
}
@media(min-width:768px) and (max-width:991.98px){
    .section2{
        background-color:rgb(246, 246, 246);
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
    .form-main h2{
        font-size: 40px;
        color: black;
        font-weight: bold;
        padding-bottom: 15px;
        text-align: center;
    }
    .field-set{
        height: 250px;
        width: 450px;
        border: 1px solid gray;
        margin-bottom: 50px;
        margin:0 auto;
        
    }
    .lablefor{
        font-size: 25px;
        color: gray;
    }
    .form-padding{
        padding-left: 30px;
    }
    .form-padding1{
        padding-left: 30px;
    }
    .con-in{
        width: 200px;
        height: 40px;
        border:0.5px solid gray;
        background-color:white;
    }
    .login{
        height: 40px;
        width: 80px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
        background-color: rgb(200, 196, 196);
        color: rgb(36, 32, 32);
        border: none;
        margin-left: 30px;
    }
    /*  */
    .product-categories{
        height: 250px;
        width: 400px;
        background-color: white;
        border-radius: 10px;
        text-shadow: #F7EADE;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
    }
    .product-categories h3{
        font-size: 25px;
        color: gray;
        padding-left: 10px;
        padding-top: 15px;
    }
    .product-categories p{
        font-size: 20px;
        color: black;
        padding-top: 20px;
        font-weight: 700;
        padding-left: 10px;
    }
    .product-categories p:hover{
       color: gold;
    }
    .product-categories hr{
        width: 50px;
        margin-top: 20px;  
        margin-left: 180px;  
    }
}
@media(min-width:992px) and (max-width:1199.98px){
    .section2{
        background-color:rgb(246, 246, 246);
        padding-top: 100px;
        padding-bottom: 100px;
        display: flex;
        justify-content:center;
    }
    .form-main h2{
        font-size: 30px;
        color: black;
        font-weight: bold;
        padding-bottom: 15px;
    }
    .field-set{
        height: 290px;
        width: 500px;
        border: 1px solid gray;
        margin-bottom: 50px;
        
    }
    .lablefor{
        font-size: 25px;
        color: gray;
    }
    .form-padding{
        padding: 30px;
    }
    .form-padding1{
        padding-left: 30px;
    }
    .con-in{
        width: 450px;
        height: 40px;
        border:0.5px solid gray;
        background-color:white;
    }
    .login{
        height: 40px;
        width: 80px;
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
        background-color: rgb(200, 196, 196);
        color: rgb(36, 32, 32);
        border: none;
        margin-left: 30px;
    }
    /*  */
    .product-categories{
        height: 220px;
        width: 250px;
        background-color: white;
        border-radius: 10px;
        text-shadow: #F7EADE;
        margin-left: 50px;
    }
    .product-categories h3{
        font-size: 25px;
        color: gray;
        padding-left: 10px;
        padding-top: 15px;
    }
    .product-categories p{
        font-size: 20px;
        color: black;
        padding-top: 10px;
        font-weight: 700;
        padding-left: 10px;
    }
    .product-categories p:hover{
       color: gold;
    }
    .product-categories hr{
        width: 50px;
        margin-top: 20px;  
        margin-left: 10px;  
    }
    
}
@media(max-width:575.398px){
    /* footer starts */
.footer{
    background-color: #5f3c10;
}
.footer-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.footer-div{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 90px;
}
.footer-div1{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 190px;
}
.footer-div2 h3{
    color: #fcfcfc;
    padding-top: 40px;
    font-size: 20px;
    padding-bottom: 15px;
}
.footer-div3{
    padding-right: 130px;
    padding-top: 50px;
}
.footer-div3 h3{
    font-size: 20px;
    color: #fcfcfc;
    padding-bottom: 20px;
}
.footer-div2{
    padding-right: 150px;
}
.fot{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.fot p{
    color: #fcfcfc;
}
.than{
    color: #fcfcfc;
}
.footer-div span{
    display: block;
}
.footer-div h3{
    color: #fcfcfc;
    padding-bottom: 20px;
    font-size: 20px;
}
.footer-div1 h3{
    color: #fcfcfc;
    padding-bottom: 20px;
    font-size: 20px;
}
.footer-div p{
    color: #fcfcfc;
    font-size: 17px;
}
/* footer ends */
}
@media(min-width:576px) and (max-width:767.98px){
    /* footer starts */
.footer{
    background-color: #5f3c10;
}
.footer-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.footer-div{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 90px;
}
.footer-div1{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 190px;
}
.footer-div2 h3{
    color: #fcfcfc;
    padding-top: 40px;
    font-size: 20px;
    padding-bottom: 15px;
}
.footer-div3{
    padding-right: 130px;
    padding-top: 50px;
}
.footer-div3 h3{
    font-size: 20px;
    color: #fcfcfc;
    padding-bottom: 20px;
}
.footer-div2{
    padding-right: 150px;
}
.fot{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.fot p{
    color: #fcfcfc;
}
.than{
    color: #fcfcfc;
}
.footer-div span{
    display: block;
}
.footer-div h3{
    color: #fcfcfc;
    padding-bottom: 20px;
    font-size: 20px;
}
.footer-div1 h3{
    color: #fcfcfc;
    padding-bottom: 20px;
    font-size: 20px;
}
.footer-div p{
    color: #fcfcfc;
    font-size: 17px;
}
/* footer ends */
}
@media(min-width:768px) and (max-width:991.98px){
    /* footer starts */
.footer{
    background-color: #5f3c10;
}
.footer-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.footer-div{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 90px;
}
.footer-div1{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 190px;
}
.footer-div2 h3{
    color: #fcfcfc;
    padding-top: 40px;
    font-size: 30px;
    padding-bottom: 15px;
}
.footer-div3{
    padding-right: 90px;
    padding-top: 50px;
}
.footer-div3 h3{
    font-size: 30px;
    color: #fcfcfc;
    padding-bottom: 20px;
}
.footer-div2{
    padding-right: 150px;
}
.fot{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.fot p{
    color: #fcfcfc;
    font-size: 20px;
}
.than{
    color: #fcfcfc;
}
.footer-div span{
    display: block;
}
.footer-div h3{
    color: #fcfcfc;
    padding-bottom: 20px;
    font-size: 30px;
}
.footer-div1 h3{
    color: #fcfcfc;
    padding-bottom: 20px;
    font-size: 30px;
}
.footer-div p{
    color: #fcfcfc;
    font-size: 20px;
}
/* footer ends */
}
@media(min-width:992px) and (max-width:1199.98px){
 /* footer starts */
.footer{
    background-color: #5f3c10;
}
.footer-sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-div1{
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-div3 h3{
    font-size: 30px;
    color: #fcfcfc;
    padding-bottom: 25px;
}
.footer-div2 h3{
    color: #fcfcfc;
    padding-top: 25px;
    font-size: 30px;
    padding-bottom: 15px;
}

.fot{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.fot p{
    color: #fcfcfc;
}
.than{
    color: #fcfcfc;
}
.footer-div span{
    display: block;
}
.footer-div h3{
    color: #fcfcfc;
    padding-bottom: 20px;
    font-size: 30px;
}
.footer-div p{
    color: #fcfcfc;
    font-size: 17px;
}
/* footer ends */
}
/* contact ends */